#1. Write a Python function to find the Max of three numbers

In [1]:
def max_of_three_numbers(a,b,c):
  if a>=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
print(max_of_three_numbers(a,b,c))

Enter first number: 5
Enter second number: 8
Enter third number: 9
9

#2. Write a Python function to sum all the numbers in a list.

In [5]:
def sum_of_numbers(list):
  total = 0
  for i in list:
    total += i
  return total

int_list = [1, 2, 3, 4, 5]
print(sum_of_numbers(int_list))

15

#3. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [31]:
lst =[10,20,30,40,50]

num = int(input("Enter a number: "))
pos = int(input("Enter a position: "))

lst.insert(pos,num)
print("updated list:",lst)

Enter a number: 13
Enter a position: 5
updated list: [10, 20, 30, 40, 50, 13]

#4. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

\

In [10]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#5. Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [15]:
dict = { 'emp1': {'name': 'Jhon', 'salary': 7500},
        'emp2': {'name': 'Emma', 'salary': 8000},
         'emp3': {'name': 'Brad', 'salary': 500}, }
dict['emp3']['salary'] = 8500
print(dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

#6. Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [16]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

#7. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81

In [19]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
count = tuple1.count(50)
print('number of occurences of item 50:',count)

number of occurences of item 50: 3